@model Tims.WebApp.Models.Billing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row text-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscriber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedInvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CutoffDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CutoffDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumptionTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumptionTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalChargeMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalChargeMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviouPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviouPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullPriceBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullPriceBill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimelyPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimelyPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateBilledPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateBilledPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateBilledPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateBilledPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionType.ReceptionTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BillingId">Edit</a> |
</div>
